{% extends "base.njk" %}

{% block content %}
  <header>
    <h1>{{ title }}</h1>
    <hr>
    {% if date or tags %}
      <div class="meta">
        {% if date %}<span>Added {{ date | formatDate("yyyy-MM-dd") }},</span>{% endif %}
        {% if tags %}
          {% set tagList = tags %}
          {% if tagList is string %}{% set tagList = [tags] %}{% endif %}
          {% set tagList = tagList | reject("equalto", "notes") %}
          tags: 
          {% for tag in tagList %}
            <span>{{ tag }}</span>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  </header>
  {{ content | safe }}
{% endblock %}
